<h1>New Team</h1>

<%= form_for(@team) do |f|%>

  <%= f.label :name %>
  <%= f.text_field :name %>
<br></br>
  <%= f.label :location %>
  <%= f.text_field :location %>

    <%= f.submit %>

<% end %>
