<h1><%=@team.name%></h1>

<h2><%= @team.location%></h2>

<h4>Tryouts:</h4>
<% @team.tryouts.each do |c|%>
  <li><strong><%= c.user.username%></strong> hosting: "<%= link_to c.content, tryout_path(c)%>"</li>
<% end %>

<p><%= link_to 'Add Another Tryout', new_team_tryout_path(@team)%></p>
