<% if @tryout.team %>
<h1>New Tryout for <%= @tryout.team.name%></h1>
<% else %>
<h1>New Tryout</h1>
<% end %>




<%= form_for([@tryout.team,@tryout]) do |f|%>

  <% if !@tryout.team %>
  <%= f.label :team %>
  <%= f.collection_select :team_id, Team.all, :id, :name %>
  <% else %>
    <%= f.hidden_field :team_id %>
  <% end %>

  <%= f.label :content %>
  <%= f.text_field :content %>

    <%= f.submit %>

<% end %>
