<h1>New Tryout</h1>

<%= form_for(@tryout) do |f|%>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

    <%= f.submit "Create" %>

<% end %>
