<!DOCTYPE html>
<html>
  <head>
    <title>FootBit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in?%>
      <%= link_to "Add New Tryout", new_tryout_path %> |
      <%= link_to "All Tryouts", tryouts_path %> |
      <%= link_to "Signout", signout_path, method:"delete"%>

      <% else %>
      <%=link_to "Sign Up", signup_path %> |
      <%=link_to "Log In", login_path %>
      <% end %> 

      </div>

    <%= yield %>
  </body>
</html>
